<div class="container">
	O kraju ... 
	<select data-ng-model="cn" data-ng-options="country.name for country in supported_countries"></select>
	<br><span class="advice">Zakres kodów: {{cn.range}}</span>
	<br>
	i kodzie pocztowym...
	<input type="text" data-ng-model="zipcode">
	<br><button data-ng-click="findInfo()">	...powiedz mi wszystko!</button>
	<br><br>
	<div class="result">
		<table>
			<tr><th>Kod pocztowy</th><td>{{result["post code"]}}</td></tr>
			<tr><th>Kraj</th><td>{{result["country"]}}</td></tr>
			<tr><th>Skrótowa n. kraju</th><td>{{result["country abbreviation"]}}</td></tr>
			<tr>
				<th>Miejsca</th>
				<td>
					<table>
						<tr><th>ID</th><th>Nazwa Regionu</th><th>Stan</th><th>Skrótowa n. stanu</th><th>Dlugość geograficzna</th><th>Szerokość geograficzna</th></tr>
						<tr data-ng-repeat="place in result.places">
							<td>{{$index}}</td>
							<td>{{place["place name"]}}</td>
							<td>{{place["state"]}}</td>
							<td>{{place["state abbreviation"]}}</td>
							<td>{{place["longitude"]}}</td>
							<td>{{place["latitude"]}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<google-map center="map.center" zoom="map.zoom">
	     	<marker data-ng-repeat="marker in markers" coords="marker" idkey="$index"></marker>
		</google-map>
	</div>
</div>